

.skin-black .main-header>.logo {
    background-color: #005c64 !important;

}





.skin-black .main-header .navbar {
    background-color: #005c64;
}


.selectize-input.full {
  background-color: #E8EAEC ; font-size: 20px; line-height: 20px;
  
} 
.selectize-input {
      border: 1px solid #005c64;
  
} 

.selectize-dropdown {
  background-color:#E8EAEC; font-size: 20px; line-height: 20px; 
} 

.well{
  background-color:#E8EAEC;
  
}

label{
  color: #005c64;
}

